.carousel {
  background: #fafafa;
}

.gallery-container {
  width: 1116px;
}

.carousel-cell {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  width: 100%;
  height: 368px;
  column-gap: 24px;
}

.flickity-viewport {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}

/* cell number */
/* .carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */
